<h2>Calculator</h2>

<div class="container">
	<div class="form-wraper">
		<form name="myForm" action="#">
		<label>Город для доставки</label>
		<select ng-model="city" required>
			<option value="" ng-selected="city==''"></option>
			<option value="Запорожье" ng-selected="city=='Запорожье'">Запорожье</option>
			<option value="Днепр" ng-selected="city=='Днепр'">Днепр</option>
			<option value="Одесса" ng-selected="city=='Одесса'">Одесса</option>
			<option value="Киев" ng-selected="city=='Киев'">Киев</option>
			<option value="Львов" ng-selected="city=='Львов'">Львов</option>
			<option value="Харьков" ng-selected="city=='Харьков'">Харьков</option>
		</select>

		<label>Чем доставлять?</label>
		<div class="toogle-wrap">
			<label>
				<input type="radio" ng-model="delivery" value="plane" required>
				Самолет
			</label>
			<label>
				<input type="radio" ng-model="delivery" value="car" required>
				Машина
			</label>
			<label>
				<input type="radio" ng-model="delivery" value="bicycle" required>
				Велосипед
			</label>
		</div>

		<div class="toogle-wrap">
			<label>Курьеру на кофе?</label>
			<div class="toogle-input">
				<label class="switch">
					<input type="checkbox" ng-model="giveMoney"
							ng-true-value="'iGiveMoney'" ng-false-value="'noMoney'">
					<span class="toogle-slider round"></span>
				</label>
			</div>
		</div>

		<div class="toogle-wrap">
			<label>Выбрать пиццу из списка или собрать пиццу самому?</label>
			<div class="toogle-input">
				<label>Выбрать</label>
				<label class="switch">
				<!-- ng-true-value="$calculator.choseOrMake()" ng-false-value="'makePizza'" -->
					<input type="checkbox" ng-model="$calculator.choosePizza">
					<span class="toogle-slider"></span>
				</label>
				<label>Cобрать</label>
			</div>
		</div>
		
		<label ng-hide="$calculator.choosePizza">Выбрать пиццу из списка</label>
		<select ng-model="pizzaList" ng-required="!$calculator.choosePizza">
			<option value="" ng-selected="city==''"></option>
			<option value="АМЕРИКАНО" ng-selected="city=='АМЕРИКАНО'">АМЕРИКАНО</option>
			<option value="4 СЫРА" ng-selected="city=='4 СЫРА'">4 СЫРА</option>
			<option value="ЦЕЗАРЕ" ng-selected="city=='ЦЕЗАРЕ'">ЦЕЗАРЕ</option>
			<option value="МЕКСИКАНСКАЯ" ng-selected="city=='МЕКСИКАНСКАЯ'">МЕКСИКАНСКАЯ</option>
			<option value="ГАВАЙСКАЯ" ng-selected="city=='ГАВАЙСКАЯ'">ГАВАЙСКАЯ</option>
			<option value="КАПРИЧИОЗА" ng-selected="city=='КАПРИЧИОЗА'">КАПРИЧИОЗА</option>
		</select>
		
		<div class="chips-wrap">
			<div class="chip">
				томатный соус
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>
			<div class="chip">
				шампиньоны
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>
			<div class="chip">
				маслины
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>
			<div class="chip">
				помидор
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>
			<div class="chip">
				петрушка
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>
			<div class="chip">
				курица
				<span class="closebtn" onclick="this.parentElement.style.display='none'">X</span>
			</div>

		</div>
		</form>
	</div>
</div>